.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 20%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.items-wrap:before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.items-wrap:after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.items-wrap {
  position: relative;
}

.item {
  transition: all 0.1s ease-in-out;
}


.marquee {
  animation: scroll 120s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

.marquee-right {
  animation: scroll-right 120s linear infinite;
}

@keyframes scroll-right {
  from {
    transform: translateX(calc(-100%));
  }
  to {
    transform: translateX(0);
  }
}

@media (pointer: fine) {
  .item:hover {
    transform: scale(1.01);
  }
  
  
  .items-wrap:hover .marquee {
    animation-play-state: paused;
  }
  
  
  .items-wrap:hover .marquee-right {
    animation-play-state: paused;
  } 
}
